.container {
  position: relative;
}

.langBtn {
  padding: .5625rem .625rem;
  background-color: #f0f0f033;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .125rem;
  transition: background-color .3s ease 0s;
  cursor: pointer;
}

.langBtn:hover {
  background-color: #ffffff14;
}

.langBtn span {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.langBtn .angleDown {
  transition: transform .5s ease 0s;
}

/* 切換樣式 */
.arrowRotate {
  transform: rotateX(180deg);
}

.langList {
  max-height: 12.5rem;
  padding: 1.0625rem 1.5rem 1.5rem;
  color: #1e1e1e;
  position: absolute;
  top: 3.125rem;
  right: -.625rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .5s ease-in-out;
}

/* 切換樣式 */
.showList {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.langList::before {
  content: "";
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  top: .4375rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.langList li {
  margin-top: .875rem;
}

.langList .triangle {
  position: absolute;
  right: 1.8125rem;
  top: 0;
  z-index: 200;
}

.langList li button {
  display: flex;
  align-items: center;
  gap: .4375rem;
  white-space: nowrap;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1.375rem;
}

.langList li button .langFlag {
  width: 24px;
  height: 24px;
}

.langList li button span {
  color: rgb(30, 30, 30);
  font-size: .875rem;
  line-height: 1.375rem;
}


/* 切換樣式 */
.langActive {
  font-weight: 700;
  color: #ff5f45 !important;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}