.section {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.section .container {
  max-width: 75rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.title {
  margin-bottom: 3.5rem;
  color: #001535;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: normal;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.item .info h3 {
  margin-bottom: 1rem;
  color: #121212;
  font-size: 1.625rem;
  line-height: 2rem;
}

.item .info p {
  margin-bottom: .625rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* 較寬表單 */
.wide {
  padding: 3.875rem 2.5rem;
  border-radius: 3.75rem 3.75rem 1.5rem 1.5rem;
  grid-column: span 3;
  flex-direction: row;
}

.wide .info h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.wide .info p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* (1)收益優勢 */
.wide .profit {
  text-align: center;
}

.wide .profit>img {
  width: 100%;
}

.wide .profit .greenBar {
  width: 100%;
  margin-top: 20px;
  padding: 1rem .5rem;
  border-radius: .5rem;
  background-color: #e2f0e3;
  color: #1f1f1f;
  font-size: .6875rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: .625rem;
}

/* (2)公司可靠 */
.item .partner {
  width: 100%;
  max-height: 100%;
  margin: auto 0 0;
  aspect-ratio: 283 / 103;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item .partner img {
  width: 100%;
  margin-top: 2.5rem;
}

/* (3)推廣計畫 */
.item .affiliate {
  padding: 1.25rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item .affiliate img {
  vertical-align: top;
  object-fit: cover;
}

/* (4)手續優惠 */
.item .fee {
  height: 100%;
  color: #ff5f45;
  font-size: 6rem;
  font-weight: 700;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item .fee div {
  line-height: 1;
}

@media (max-width: 1200px) {
  .content {
    column-gap: calc(-43.7px + 59.7* 100vw / 1200);
  }

  .item {
    border-radius: 2.068966vw;
    padding: 3.448276vw;
  }

  .item .info h3 {
    margin-bottom: 1.37931vw;
    font-size: 2.241379vw;
    line-height: 2.758621vw;
  }

  .item .info p {
    font-size: 1.37931vw;
    line-height: 2.068966vw;
    margin-bottom: .862069vw;
  }

  .wide {
    border-radius: 5.172414vw 5.172414vw 2.068966vw 2.068966vw;
    padding: 5.344828vw 7.241379vw 5.344828vw 3.448276vw;
  }

  .wide .info {
    width: 44.37751%;
  }

  .wide .info h3 {
    margin-bottom: 2.068966vw;
    font-size: 2.758621vw;
    line-height: 3.448276vw;
  }

  .wide .info p {
    font-size: 1.724138vw;
    line-height: 2.413793vw;
  }

  /* (1)收益優勢 */
  .wide .profit {
    width: 40.160643%;
  }

  .wide .profit .greenBar {
    padding: 1.333333vw .666667vw;
    border-radius: .666667vw;
    gap: .833333vw;
    font-size: .916667vw;
  }

  /* (2)公司可靠 */

  /* (3)推廣計畫 */
  .item .affiliate {
    padding: 0;
    margin: 1rem;
  }

  .item .affiliate img {
    width: 100%;
    height: 100%;
  }

  /* (4)手續優惠 */
  .item .fee {
    font-size: 5rem;
  }
}

@media (max-width: 1000px) {
  .section {
    margin-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .content {
    column-gap: .5625rem;
  }

  /* (1)收益優勢 */

  /* (2)公司可靠 */

  /* (3)推廣計畫 */

  /* (4)手續優惠 */
  .item .fee {
    font-size: 4rem;
  }


}

@media (max-width: 800px) {
  .section {
    margin-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .section .container {
    padding: 0 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .item {
    max-width: 25rem;
    width: 100%;
    min-height: 27.5rem;
    margin: 0 auto;
    border-radius: 1.25rem;
    padding: 2rem;
  }

  .item .info h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .item .info p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .625rem;
  }

  .wide {
    border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
    grid-column: auto;
    flex-direction: column;
    padding: 2rem;
  }

  .wide .info {
    width: 100%;
  }

  .wide .info p {
    margin-bottom: 3.5rem;
  }

  /* (1)收益優勢 */
  .wide .profit {
    width: 100%;
  }

  .wide .profit>img {
    width: 100%;
  }

  .wide .profit .greenBar {
    padding: .6875rem .3125rem;
    border-radius: .375rem;
    gap: .375rem;
    font-size: .5rem;
  }

  /* (2)公司可靠 */

  /* (3)推廣計畫 */
  /* .item .affiliate {
    margin: 2rem;
  } */

  .item .affiliate img {
    width: 70%;
    height: 70%;
  }

  /* (4)手續優惠 */
  .item .fee {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
    /* (3)推廣計畫 */
    /* .item .affiliate {
      margin: 2rem;
    } */
}