.main {
  padding-top: 11.25rem;
  margin-bottom: 10rem;
}

.container {
  overflow: clip;
  max-width: 75rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.inner {
  display: grid;
  grid-template-columns: 451fr 621fr;
  grid-template-rows: auto 1fr;
  column-gap: 3rem;
}

/* .content {} */

.content .title {
  color: #020414;
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 5.125rem;
  margin-bottom: 1.5rem;
}

.content .text {
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: #020414;
  margin-bottom: 3rem;
}

.address {
  color: #041533;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.8;
}

.address>a {
  align-items: center;
  display: flex;
  gap: 1.125rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: #020414;
}

.address>.map {
  display: flex;
  gap: 1.125rem;
}

.address>.map>p {
  font-size: 18px;
}

.address>a>i,
.address>.map>i {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.address>a>i>img,
.address>.map>i>img {
  width: 20px;
  height: 20px;
}

@media (max-width:1200px) {}

@media (max-width:1000px) {
  .main {
    padding-top: 6.625rem;
    margin-bottom: 7.5rem;
  }

  .inner {
    grid-template-columns: 421fr 475fr;
  }

  .content .title {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }

  .content .text {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2.75rem;
  }
}


@media (max-width:800px) {
  .main {
    padding-top: 5.25rem;
    margin-bottom: 6.25rem;
  }

  .container {
    padding: 0 1.25rem;
  }

  .inner {
    display: block;
  }

  .content .title {
    font-size: 2rem;
    margin-bottom: .875rem;
  }

  .content .text {
    font-size: .875rem;
    margin-bottom: 1.75rem;
  }

  .address>a,
  .address .map {
    gap: .75rem;
    font-size: 1rem;
  }

  .address>a>i,
  .address .map>i {
    height: 2rem;
    width: 2rem;
  }

  .address>a>i>img,
  .address .map>i>img {
    height: .875rem;
    width: .875rem;
  }

  .address .map>p {
    font-size: 1rem;
  }
}


@media (max-width:500px) {}