.logo .container {
  display: flex;
  align-items: center;
}

.logo .img {
  margin-right: 5px;
  object-fit: cover;
}

.logo .text {
  color: var(--yellow);
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}