.logo a {
  display: flex;
}

.logo a img {
  margin-right: 5px;
  object-fit: cover;
  aspect-ratio: 194 / 20;
}

.logo a span {
  color: #FFD45A;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}