.container {
  height: 100vh;
  padding-top: 63px;
}

/* .form {} */

/* .email:invalid,
.phone:invalid {
  border: 1px solid red;
} */

/* .email:valid,
.phone:valid {
  border: 1px solid green;
} */