.container {
  position: relative;
  z-index: 100;
}

.langBtn {
  padding: .5625rem .625rem;
  background-color: #f0f0f033;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .125rem;
  transition: background-color .3s ease 0s;
  cursor: pointer;
}

.langBtn:hover {
  background-color: #ffffff14;
}

.langBtn span {
  width: 22.5px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.langBtn .angleDown {
  transition: transform .5s ease 0s;
}

/* 切換樣式 */
.arrowRotate {
  transform: rotateX(180deg);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #041632;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: opacity .3s ease 0s;
  pointer-events: none;
  opacity: 0;
}

.showBackdrop {
  pointer-events: all;
  opacity: 0.5;
}

/* @media (max-width: 1000px) {
  .container {
    display: none;
  }
} */