.main {
  min-height: 100vh;
  padding: 0 50px 80px 50px;
  background-image: url('/bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main .top {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .main .top .logo {} */

.main .top .logo img {
  height: 3rem;
}

.main .top .logo span {
  font-size: 1.5rem;
}

.main .top .back {
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: 0.3s;
  cursor: pointer;
}

.main .top .back:hover {
  color: var(--orange);
}

.main .top .langSwitch {
  position: absolute;
  bottom: 10px;
  right: 0;
}

/* .main .bottom {} */

.main .bottom .form {
  padding: 2rem 2rem 3rem 2rem;
  background-image: url(/form-bg.webp);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
}

.main .bottom .form .title {
  text-align: center;
}

.main .bottom .form .inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.main .bottom .form .inputs .labeledInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .bottom .form .inputs .input {
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;
}

.main .bottom .form .buttons {
  display: flex;
  justify-content: space-evenly;
}

.main .bottom .form .buttons .button {
  width: 25%;
}

@media (max-width: 1000px) {
  .left .logo img {
    height: 2rem;
  }

  .left .logo span {
    font-size: 1rem;
  }
}