.main {
  height: 100vh;
  background-image: url('/bg.png');
  background-size: cover;
  display: flex;
}

.left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F3F9;
}

.right .form {
  width: 500px;
  padding: 2rem 1.5rem;
  background-image: url(/webp/form-bg.webp);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
}

.right .form .title {
  text-align: center;
}

.right .form .input {
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;
}

.right .form .help {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .container .help div {} */

.right .form .help .message span {
  margin-right: 8px;
}

.right .form .help .message a {
  color: blue;
  transition: 0.3s;
  cursor: pointer;
}

.right .form .help .message a:hover {
  color: #ff5f45;
}

/* @media (max-width: 1200px) {

} */