:root {
  --yellow: #FFD45A;
  --orange: #ff5f45;
  --light-gray: #F1F3F9;
  --dark-blue: #041632;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

body {
  /* scrollbar on top of the page */
  width: 100vw;
  overflow-x: hidden;
  background-color: #F1F3F9;
}

.hideScroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

button {
  background-color: transparent;
}

#fullscreen {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  z-index: 200;
}