.main {
  width: 100%;
  position: relative;
  display: inline-block;
}

.main .codeBtn {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;

  z-index: 2;

  cursor: pointer;
}

.main .codeBtn .selected {
  min-width: 7.125rem;
  font-size: 1rem;
  background-color: #0000000d;


  color: #3e345c;
  font-weight: 700;
  border-radius: .75rem 0 0 .75rem;

  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 1rem;
}

.main .codeBtn .selected .flag {
  width: 20px;
  pointer-events: none;
  background-image: url(webp/flags-sprite-sheets.webp);
  background-repeat: no-repeat;
  background-color: #dbdbdb;
}

.main .codeBtn .selected .code {
  margin-left: 6px;
  pointer-events: none;
}

.main .codeBtn .selected .arrow {
  margin-left: 6px;
  transition: all .3s ease 0s;
}

.main .codeBtn .selected .arrow path {
  stroke: #3e345c;
}



.rotate {
  transform: rotateX(180deg);
}

.main input {
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;

  padding-left: 8.125rem !important;
  border-color: #000;
  margin-left: 0;
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0;
  width: 100%;
  border-radius: .5rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;

  /* padding: 1rem;
  padding-left: 8.125rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;
  position: relative; */
}

.error {
  border-color: #e00909 !important;
}